.shopcategory-banner{
    display: block;
    margin:  auto;
    width: 85%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 105px;
    margin-right: 152px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-Sort{
    display: flex;
    width: 170px;
    gap: 7px;
    padding: 15px 15px;
    border-radius: 40px;
    margin: 15px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
    cursor: pointer;
    position: relative;
}

.shopcategory-Sort:hover{
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}

.shopcategory-Sort select{
    width: 160px;
    outline: none;
    border: none;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    background: rgb(255, 0, 0);
}






.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 30px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 220px;
    height: 60px;
    border-radius: 70px;
    background: white;
    color: gray;
    font-size: 15px;
    font-weight: 500;

}